body{
    margin: 0;
    margin-top: 50px;
}
header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: White;
]}
header *{
    display: inline;
]}
header ul{
    padding: 0;
]}
header li{
    margin-left 50px;
    list-style-type: none;
]}
header a{
    text-decoration: none;
    color: black;
}
header li:hover{
    background-color: #d8a728;
    color: #eee;
    padding: 4px;
}
#inicio imagen{
    width: 300px;
}
section{
    border:1px solid black;
    display: flex;
    height: 100vh; /*1009*/
    justify-content: center;
    text-align: center;
    align-items: center;
}